[Unit]
Description=Pizzabox Autostart Service
After=network.target
[Service]
Type=simple
ExecStart=/home/pi/.local/bin/pizzabox
ExecStopPost=sudo systemctl poweroff
Restart=no
User=pi
Group=pi
[Install]
WantedBy=multi-user.target